body{
    background-color: beige;
}
.heading {
    text-align: center;
    color: red;
    margin: 40px;
    font-size: 50px;
}

.prodDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.redFont{
    color: red;
}
.greenFont{
    color: green;
}
.greenBlock{
    background-color: green;
    color: yellow;
}
.blueBlock{
    background-color: aqua;
    color: blue;
}